/* screen - desktop-1 */

.desktop-1 {
  background-color: var(--white);
  height: 4822px;
  position: relative;
  width: 100%;
}

.desktop-1 .navbar {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 148px;
  height: 87px;
  justify-content: space-around;
  left: 0;
  padding: 23px 160px;
  position: absolute;
  top: 0;
  width: 100%;
}

.desktop-1 .navbar-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 148px 148px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.desktop-1 .navbar-link-rg {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 26px;
  font-weight: 800;
}

.desktop-1 .navbar-link-about-me {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-1 .section-home {
  background-image: url(../img/section-home-.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 813px;
  top: 87px;
}

.desktop-1 .component-animate-intro {
  display: flex;
  flex-direction: column;
  height: 114px;
  left: 155px;
  position: absolute;
  top: 372px;
  width: 668px;
}

.desktop-1 .componate-name {
  display: flex;
  margin-top: -114px;
  width: 651px;
}

.desktop-1 .surname {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 800;
  height: 114px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: 651px;
}

.desktop-1 .component-animate-intro-1 {
  display: flex;
  height: 114px;
  overflow: hidden;
  width: 666px;
}

.desktop-1 .grapich-design-ux-ui {
  color: var(--bunker);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 800;
  height: 126px;
  letter-spacing: 0;
  line-height: normal;
  width: 666px;
}

.desktop-1 .text-1 {
  display: flex;
  height: 40px;
  left: 159px;
  position: absolute;
  top: 497px;
  width: 328px;
}

.desktop-1 .based-in-potenza {
  color: var(--white);
  flex: 1;
  font-family: var(--font-family-roboto);
  font-size: 34.5px;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.desktop-1 .social-icon {
  height: 34px;
  left: 161px;
  position: absolute;
  top: 559px;
  width: 93px;
}

.desktop-1 .hello-im {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 34.5px;
  font-weight: 700;
  left: 159px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 308px;
  white-space: nowrap;
}

.desktop-1 .image-3 {
  height: 813px;
  left: 539px;
  object-fit: cover;
  position: absolute;
  top: 87px;
  width: 741px;
}

.desktop-1 .section-about-me {
  align-items: center;
  background-color: #0a1415;
  display: flex;
  height: 780px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 900px;
  width: 100%;
}

.desktop-1 .container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 40px;
  height: 586px;
  justify-content: space-between;
  margin-left: 160px;
  padding: 0px 0px 94px;
  position: relative;
  width: 458px;
}

.desktop-1 .tittle {
  height: 60px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -4.00px;
  margin-top: -1.00px;
  position: relative;
  width: 462px;
}

.desktop-1 .flex-container-608387 {
  display: flex;
  gap: 30px;
  height: 432px;
}

.desktop-1 .text {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.desktop-1 .container-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 575px;
  margin-right: 157px;
  margin-top: -1px;
  padding: 0px 1px 23px 0px;
  position: relative;
  width: 458px;
}

.desktop-1 .component-ux-ui-design {
  height: 101px;
  position: relative;
  width: 457px;
}

.desktop-1 .x-design {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.desktop-1 .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 48px;
  left: 0;
  min-width: 457px;
  position: absolute;
  top: 53px;
}

.desktop-1 .rectangle-4419 {
  background-color: var(--acapulco);
  height: 48px;
  width: 369px;
}

.desktop-1 .component {
  height: 108px;
  position: relative;
  width: 457px;
}

.desktop-1 .overlap-group {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 51px;
  left: 0;
  min-width: 457px;
  position: absolute;
  top: 57px;
}

.desktop-1 .rectangle-4421 {
  background-color: var(--acapulco);
  height: 51px;
  width: 290px;
}

.desktop-1 .rectangle-4423 {
  background-color: var(--acapulco);
  height: 51px;
  width: 381px;
}

.desktop-1 .component-graphic-design {
  height: 108px;
  margin-bottom: -23.00px;
  position: relative;
  width: 457px;
}

.desktop-1 .rectangle-4425 {
  background-color: var(--acapulco);
  height: 51px;
  width: 419px;
}

.desktop-1 .section-services {
  background-image: url(../img/section-services.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 495px;
  top: 1680px;
}

.desktop-1 .container-2 {
  align-items: center;
  display: flex;
  flex: 1;
  height: 388px;
  justify-content: space-between;
  margin-left: 160px;
  margin-right: 161px;
  margin-top: 53px;
  position: relative;
}

.desktop-1 .container-3 {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 18px 18px;
  height: 286px;
  position: relative;
  width: 552px;
}

.desktop-1 .card-ux-ui {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  height: 134px;
  justify-content: space-around;
  position: relative;
  width: 267px;
}

.desktop-1 .ground-black-tittle {
  background-color: var(--black);
  height: 43px;
  position: relative;
  width: 267px;
}

.desktop-1 .tittle-1 {
  height: 26px;
  left: calc(50.00% - 82px);
  position: absolute;
  top: 9px;
  width: 166px;
}

.desktop-1 .icon {
  height: 20px;
  left: 151px;
  position: absolute;
  top: 3px;
  width: 16px;
}

.desktop-1 .subtittle-1 {
  left: 0;
  position: absolute;
  top: 63px;
  width: 267px;
}

.desktop-1 .card-web-design {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  gap: 22px 22px;
  height: 134px;
  position: relative;
  width: 265px;
}

.desktop-1 .background-black-tittle {
  background-color: var(--black);
  height: 43px;
  position: relative;
  width: 265px;
}

.desktop-1 .tittle-2 {
  height: 26px;
  left: calc(50.00% - 80px);
  position: absolute;
  top: 8px;
  width: 159px;
}

.desktop-1 .icon-1 {
  height: 16px;
  left: 141px;
  position: absolute;
  top: 5px;
  width: 19px;
}

.desktop-1 .subtittle-2 {
  left: calc(50.00% - 132px);
  position: absolute;
  top: 65px;
  width: 265px;
}

.desktop-1 .card {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  gap: 21px 21px;
  height: 134px;
  justify-content: space-around;
  position: relative;
  width: 267px;
}

.desktop-1 .tittle-3 {
  height: 26px;
  left: calc(50.00% - 104px);
  position: absolute;
  top: 8px;
  width: 206px;
}

.desktop-1 .icon-2 {
  height: 17px;
  left: 190px;
  position: absolute;
  top: 4px;
  width: 17px;
}

.desktop-1 .subtittle {
  left: calc(50.00% - 132px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 64px;
  width: 266px;
}

.desktop-1 .tittle-4 {
  height: 26px;
  left: 50px;
  position: absolute;
  top: 8px;
  width: 166px;
}

.desktop-1 .icon-3 {
  height: 15px;
  left: 152px;
  position: absolute;
  top: 5px;
  width: 14px;
}

.desktop-1 .container-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 19px;
  height: 388px;
  position: relative;
  width: 455px;
}

.desktop-1 .tittle-5 {
  align-self: stretch;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.desktop-1 .flex-container-608411 {
  display: flex;
  gap: 40px;
  min-height: 331px;
}

.desktop-1 .section-portfolio {
  background-color: var(--bunker);
  height: 1567px;
  top: 2175px;
}

.desktop-1 .container-5 {
  height: 1148px;
  left: 159px;
  position: absolute;
  top: 301px;
  width: 1121px;
}

.desktop-1 .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 17px;
  height: 1148px;
  left: 0;
  min-width: 742px;
  position: absolute;
  top: 0;
}

.desktop-1 .image-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-height: 1148px;
  width: 362px;
}

.desktop-1 .image {
  align-items: flex-start;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  position: relative;
}

.desktop-1 .image-1 {
  height: 428px;
  position: relative;
  width: 362px;
}

.desktop-1 .image-2 {
  height: 706px;
  position: relative;
  width: 362px;
}

.desktop-1 .image-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-height: 1148px;
  width: 363px;
}

.desktop-1 .image-wireframe-ux {
  align-items: flex-start;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  margin-left: 1px;
  position: relative;
}

.desktop-1 .image-4 {
  height: 800px;
  position: relative;
  width: 362px;
}

.desktop-1 .image-5 {
  height: 334px;
  position: relative;
  width: 362px;
}

.desktop-1 .design-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  left: 757px;
  min-height: 1148px;
  position: absolute;
  top: 0;
  width: 364px;
}

.desktop-1 .image-6 {
  height: 248px;
  position: relative;
  width: 362px;
}

.desktop-1 .image-portfolio-logodesign {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  margin-left: 2px;
  position: relative;
  width: 362px;
}

.desktop-1 .image-7 {
  height: 344px;
  position: relative;
  width: 362px;
}

.desktop-1 .image-8 {
  height: 524px;
  position: relative;
  width: 362px;
}

.desktop-1 .conteiner {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 34px;
  height: 157px;
  left: 159px;
  position: absolute;
  top: 110px;
  width: 1122px;
}

.desktop-1 .tittle-6 {
  height: 42px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  margin-top: -57px;
  position: relative;
  text-align: center;
  width: 1119px;
}

.desktop-1 .subtittle-3 {
  height: 138px;
  margin-left: 1px;
  position: relative;
  width: 1119px;
}

.desktop-1 .section-contact {
  background-color: var(--acapulco);
  height: 708px;
  top: 3742px;
}

.desktop-1 .container-6 {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 48px;
  height: 379px;
  left: 161px;
  position: absolute;
  top: 164px;
  width: 464px;
}

.desktop-1 .tittle-7 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-1 .flex-container-608559 {
  display: flex;
  gap: 40px;
  height: 310px;
  width: 464px;
}

.desktop-1 .input-name {
  cursor: pointer;
  gap: 17px;
  padding: 0px 3px;
  top: 89px;
  width: 463px;
}

.desktop-1 .tittle-8 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-1 .input-name-1 {
  background-color: var(--white);
  height: 56px;
  position: relative;
  width: 456px;
}

.desktop-1 .name {
  background-color: transparent;
  border: 0;
  height: 19px;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: absolute;
  top: 65px;
  white-space: nowrap;
  width: 46px;
}

.desktop-1 .name::placeholder {
  color: #aaaaaa99;
}

.desktop-1 .input-email {
  gap: 13px;
  padding: 8px 3px;
  top: 231px;
  width: 459px;
}

.desktop-1 .tittle-9 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-1 .input-email-1 {
  background-color: var(--white);
  cursor: pointer;
  height: 56px;
  margin-right: -3.00px;
  position: relative;
  width: 456px;
}

.desktop-1 .email {
  background-color: transparent;
  border: 0;
  height: 19px;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: absolute;
  top: 69px;
  white-space: nowrap;
  width: 47px;
}

.desktop-1 .email::placeholder {
  color: #aaaaaa99;
}

.desktop-1 .input-message {
  gap: 13px;
  top: 385px;
  width: 459px;
}

.desktop-1 .tittle-10 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-1 .input-message-1 {
  background-color: var(--white);
  height: 94px;
  position: relative;
  width: 459px;
}

.desktop-1 .message {
  background-color: transparent;
  border: 0;
  height: 19px;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: absolute;
  top: 76px;
  white-space: nowrap;
  width: 73px;
}

.desktop-1 .message::placeholder {
  color: #aaaaaa99;
}

.desktop-1 .primary-button {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 56px;
  left: 821px;
  overflow: hidden;
  position: absolute;
  top: 561px;
  width: 459px;
}

.desktop-1 .botton {
  background-color: var(--bunker);
  border-radius: 5px;
  height: 56px;
  position: relative;
  width: 460px;
}

.desktop-1 .place {
  left: calc(50.00% - 30px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: calc(50.00% - 13px);
  white-space: nowrap;
}

.desktop-1 .section-footer {
  align-items: center;
  background-color: var(--bunker);
  display: flex;
  height: 371px;
  top: 4451px;
}

.desktop-1 .container-7 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 399px 399px;
  height: 150px;
  margin-left: 165px;
  margin-right: 165px;
  margin-top: -1px;
  position: relative;
  width: 1110px;
}

.desktop-1 .logo {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-1 .flexcontainer-container {
  align-items: flex-start;
  display: flex;
  gap: 399px;
  height: 94px;
  left: 434px;
  min-width: 676px;
  position: absolute;
  top: -1px;
}

.desktop-1 .flex-container-5891234 {
  display: inline-flex;
  gap: 26px;
  height: 94px;
  position: relative;
  width: 109px;
}

.desktop-1 .flex-container-5891235 {
  display: inline-flex;
  gap: 26px;
  height: 94px;
  position: relative;
  width: 168px;
}

.desktop-1 .istagram {
  height: 18px;
  left: calc(50.00% + 412px);
  position: absolute;
  top: 122px;
  width: 17px;
}

.desktop-1 .linkedin {
  height: 18px;
  left: calc(50.00% + 387px);
  position: absolute;
  top: 121px;
  width: 18px;
}

.desktop-1 .flex-container {
  align-items: flex-start;
  flex-direction: column;
}

.desktop-1 .input {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 821px;
  position: absolute;
}

.desktop-1 .navbar-link {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-1 .section {
  left: 0;
  position: absolute;
  width: 100%;
}

.desktop-1 .subtittle-4 {
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .desktop-1 {
    width: 100%;
  }
  /* Aggiungi qui ulteriori regole CSS per elementi specifici */
}
