/* screen - image-apertura-click-1 */

.image-apertura-click-1 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

#overlay-image-apertura-click-1 {
  align-items: center;
  background-color: #ffffff00;
  justify-content: center;
}

.image-apertura-click-1 .rectangle-4422 {
  height: 234px;
  position: relative;
  width: 328px;
}

.image-apertura-click-1 .icon-nav-arrow-right {
  cursor: pointer;
  height: 17.52%;
  left: 81.40%;
  position: absolute;
  top: 42.31%;
  width: 7.16%;
}

.image-apertura-click-1 .x {
  cursor: pointer;
  left: 288px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  white-space: nowrap;
}

.image-apertura-click-1 .img_20230512_193455_987 {
  height: 162px;
  left: calc(50.00% - 81px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 81px);
  width: 162px;
}

.image-apertura-click-1 .logo-design {
  left: calc(50.00% - 81px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}
