/* screen - img-apertura-click-4 */

.img-apertura-click-4 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

#overlay-img-apertura-click-4 {
  align-items: center;
  background-color: #ffffff00;
  justify-content: center;
}

.img-apertura-click-4 .rectangle-4422 {
  height: 234px;
  position: relative;
  width: 328px;
}

.img-apertura-click-4 .img_20230413_141506_151 {
  height: 161px;
  left: calc(50.00% - 81px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 80px);
  width: 161px;
}

.img-apertura-click-4 .icon-nav-arrow-right {
  cursor: pointer;
  height: 17.52%;
  left: 84.45%;
  position: absolute;
  top: 41.45%;
  width: 7.16%;
}

.img-apertura-click-4 .x {
  cursor: pointer;
  left: 292px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.img-apertura-click-4 .logo-design {
  left: calc(50.00% - 81px);
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}
