/* screen - img-apertura-click-3 */

.img-apertura-click-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.img-apertura-click-3 .rectangle-4422 {
  height: 234px;
  position: relative;
  width: 328px;
}

.img-apertura-click-3 .icon-nav-arrow-right {
  cursor: pointer;
  height: 17.52%;
  left: 8.23%;
  position: absolute;
  top: 42.31%;
  width: 7.16%;
}

.img-apertura-click-3 .x {
  cursor: pointer;
  left: 288px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  white-space: nowrap;
}

.img-apertura-click-3 .img_20230502_103854_965 {
  height: 159px;
  left: calc(50.00% - 79px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 80px);
  width: 159px;
}
